{% extends "layout.html" %}
{% block body %}

{% from "includes/formhelpers.html" import render_field %}
<div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>REGISTRATION</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0"> <br/>
        <form method="post"> 
            {{ render_field(form.name,class="form-control") }}
            {{ render_field(form.quota,class="form-control") }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock body %}